@import "tailwindcss";
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.light-mode {
  background: white;
  color: black;
}

.dark-mode {
  background: black;
  color: white;
}